
body {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    background: #111;
    color: #f5f5f5;
  }
  
  /* HEADER */
  header {
    background: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ff4d00;
  }
  
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  
  /* NAVIGATION */
  nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  nav li {
    display: inline-block;
    margin: 0 18px;
  }
  
  nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: #ff4d00;
  }
  
  /* MAIN */
  main {
    padding: 40px;
    text-align: center;
  }
  
  /* BUTTON */
  .btn {
    display: inline-block;
    padding: 12px 22px;
    background: #ff4d00;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #ffa366;
  }
  
  /* IMAGES */
  img {
    max-width: 90%;
    border-radius: 6px;
    margin: 20px 0;
  }
  
  /* FOOTER */
  footer {
    background: #000;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 2px solid #ff4d00;
  }
  
  footer a {
    color: #ff4d00;
    text-decoration: none;
  }