/* Basic Layout and Typography */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfafa;
  color: #333;
}

header, footer {
  background-color: #041216;
  color: rgb(253, 253, 253);
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

h1, h2, h3 {
  margin-top: 0;
}

.tagline {
  font-style: italic;
  font-size: 0.9em;
}

/* Navigation Menu */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #8dc4d7;
}


a {
  color: #0c8017;
  text-decoration: none;
}

a:hover {
  color: #0597ff;
}

a:visited {
  color: #0077cc;
}


section {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
}

ul {
  padding-left: 1.2em;
}

ul li {
  margin-bottom: 0.5em;
}


@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

